* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
	--gridgap: .5em;
}

body{
	width: 90%;
	margin: 0 auto;
}

footer{
	margin-top: 3em;
	padding: .5em
}

footer div{
	margin-bottom: 1em
}

header{
	margin: 2em;
}

img{
	width: 100%;
	max-width: 400px;
}

#promptContainer{
	height: 224px;
	width: 224px;
	position: relative;
}

#promptContainer p, #promptContainer figcaption {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

input{
	margin: .5em 1em .5em 0em;
}

label{
	display: block;
}

@supports (display: grid) {

	section{
		display: grid;
		justify-content: center;
		grid-gap: var(--gridgap);
	}
}

@supports (display: flex) {

}


/*larger screen styling*/

@media only screen and (min-width: 550px) {

	img{
		height: 400px;
		width: 400px;
	}

	#promptContainer{
		height: 416px;
		width: 416px;
	}

	@supports (display: grid) {

	}

	@supports (display: flex) {

		footer{
			display: flex;
			justify-content: space-evenly;
		}	
	}
}

@media only screen and (min-width: 900px) {

	section img, section div{
		margin: 0 .5em;
	}

	@supports (display: grid) {

	}

	@supports (display: flex) {

		section{
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
	}
}