@import url('https://fonts.googleapis.com/css?family=Righteous|Roboto');

*{

}

:root {
	--background: #333;
	--pink: #ED9A9A;
	--darkerPink: #e87d7d;
	--shadow: #111;
	--white: #fff;
}

a{
	color: var(--pink);
}

body{
	background-color: var(--background);
	color: var(--white);
	font-family: Roboto;
}

button {
	padding: .5em 1em;
	background-color: var(--pink);
	border: solid var(--shadow) 1px;
}

button:active {
	background-color: var(--darkerPink);
	border: solid #000 1px;
}

footer{
	font-size: .8em;
}

h1{
	font-size: 1.5em;
}

header{
	color: var(--pink);
	font-family: Righteous;
	text-shadow: 2px 2px var(--shadow);
	text-align: center;
}

img{
	border: solid var(--shadow) 3px;
}

main{
	font-size: 1.2em;
}

#promptContainer p, #promptContainer figcaption {
	font-family: Righteous;
	font-size: 2em;
}

#promptContainer figcaption{
	opacity: 0.9;
	background-color: #111;
	padding: .2rem;
}

main button{
	margin-top: 1em;
}

@media only screen and (min-width: 550px) {
	h1{
		font-size: 2em;
	}

	#promptContainer p, #promptContainer figcaption {
		font-size: 3em;
	}

	#promptContainer figcaption{
		padding: .2rem 1rem .2rem 1rem;
	}
}
